@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

main {
    background-color: white;
    border-radius: 55px;
    box-shadow: 5px 5px 15px #e483b8a4;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #AAECFC;
    text-align: center;
    text-shadow: 1px 1px 2px #73a0ab;
}

h2 {
   color: #88A3E2;
}

body {
    background-image: linear-gradient(to right, #B7A6F6, #C37EDB);
}

p {
    text-align: justify;
}